<div class="footer">
    <div class="footer-main wrap">
        <div class="footer-grids">
            <div class="fgrid">
                <h3>关于领优</h3>
                <p>领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心</p>
                <p>领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心</p>
            </div>
            <div class="fgrid">
                <h3>领优评价</h3>
                <div>
                    <p>领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心</p>
                    <a href="#">领优国际双语幼教中心</a>
                </div>
                <div>
                    <p>领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心</p>
                    <a href="#">领优国际双语幼教中心</a>
                </div>
                <div>
                    <p>领优国际双语幼教中心</p>
                </div>
            </div>
            <div class="fgrid">
                <h3>联系领优</h3>
                <p>领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心领优国际双语幼教中心</p>
                <a href="#"><p>information@jetro.com</p></a>
                <h4>132-6352-9316</h4>
                <div class="social-media">
                    <ul>
                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="twitter"><a href="#" target="_blank"> </a> </span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="email"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="rss"><a href="#" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="vimeo"><a href="#" target="_blank"> </a></span></li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>